/* scroll down button */

#section10 {
    position: absolute;
    bottom: 250px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section10 a {
    z-index: 2;
    display: inline-block;
    color: white;
    font-family: var(--font-family);
    letter-spacing: .1em;
    text-decoration: none;
    padding-top: 55px;
    font-weight: 800;
    transition: opacity .3s;
}

#section10 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50px;
    box-sizing: border-box;
}

#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: white;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* main section */
.main-content-wrapper {
    overflow: hidden;
}

#section-main {
    background: url("../assets/back.svg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 1000px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    align-items: flex-start;
    justify-content: center;
}

.main-background {
    width: 100%;
}

.title {
    font-size: 48px;
    color: white;
}

.short-desc {
    margin-top: 8px;
    max-width: 818px;
    color: white;
}

.absolute__wrapper {
    position: absolute;
    top: 300px;
}

.features__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}

.feature-container:nth-of-type(-n+3) {
    margin-bottom: 68px;
}

.feature-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--soft-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-title {
    font-weight: bold;
    font-size: 22px;
    margin-top: 9px;
}

.feature-desc {
    font-size: 16px;
    color: var(--text-gray);
    margin-top: 9px;
    width: 350px;
}


.partners__wrapper {
    margin-top: 127px;
    margin-bottom: 100px;
}

.partners-stroke {
    display: flex;
    align-items: center;
}

.partners-stroke > p {
    margin-left: 2rem;
    color: var(--text-gray);
    margin-right: 2rem;
}

.half-line {
    width: 45%;
    height: 1px;
    background-color: var(--text-gray);
}

.bottom-line {
    background-color: var(--text-gray);
}

.logo__wrapper {
    padding-bottom: 24px;
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.background-gray {
    width: 100%;
    height: 600px;
    background-color: #f8f8f8;
}

#gallery-container {
    margin-top: 66px;
    position: relative;
}

.gallery__wrapper {
    display: flex;
    justify-content: space-between;
}

.gallery-title {
    font-size: 40px;
    font-weight: 600;
    padding-top: 66px;
}

.gallery-desc {
    width: 450px;
    margin-top: 18px;
    color: var(--text-gray);
}


#gallery {
    width: 562px;
    height: 352px;
    border-radius: 10px;
}

.slide {
    width: 562px;
    height: 352px;
    border-radius: 10px;
}

.arr-button {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: width ease 0.3s;
}

.arr-button img {
    width: 15px;
    height: 15px;
}

.arr-button.right {
    z-index: 9;
    right: -25px;
}

.arr-button.left {
    z-index: 9;
    left: -25px;
}

.dots {
    z-index: 9;
    position: absolute;
}

.dots.three {
    bottom: -15px;
    left: -70px;
}

.dots.nine {
    top: -50px;
    right: -48px;
}


.scrollTop {
    width: 50px;
    position: fixed;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    bottom: 50px;
    right: 50px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: 10;
    cursor: pointer;
    display: none;
}

.scrollTop.active {
    display: block;
}


@media screen and (max-width: 1150px) {
    .gallery__wrapper {
        flex-wrap: wrap;
    }

    .background-gray {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    #section-features {
        margin-top: -6rem;
    }

    .absolute__wrapper {
        top: 250px;
    }

    .expl-btn {
        display: none;
    }

    #gallery-container {
        width: 100%;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .feature-container, .feature-container:nth-of-type(-n+3) {
        width: 100%;
        margin-bottom: 30px;
        background: #9edb5c;
        border-radius: 5px;
        min-height: 225px;
        padding: 0.5em;
    }

    .feature-container:last-of-type {
        margin-bottom: 0;
    }

    .feature-desc, .feature-title {
        width: 100%;
        text-align: center;
        max-width: 500px;
        margin: 0 auto 10px;
        color: white;
    }

    .feature-icon {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .partners__wrapper {
        margin: 50px 0 50px 0;
    }

    .scrollTop.active {
        display: none;
    }

    .slide {
        width: 100%;
        border-radius: 5px;
        height: 100%;
    }

    .gallery-title, .gallery-desc {
        margin-top: 20px;
        width: 100%;
        padding-top: 0;
        color: white;
        text-align: center;
    }

    #gallery-container object {
        display: none;
    }

    #gallery {
        width: 100%;
        border-radius: 5px;
        height: auto;
    }

    .logo__wrapper img {
        margin-bottom: 10px;
        width: 60%;
        height: 60%;
    }

    .logo__wrapper {
        flex-wrap: nowrap;
        flex-direction: row;
        overflow: visible;
        overflow-x: scroll;
        justify-content: left;
    }

    .logo__wrapper::-webkit-scrollbar {
        display: none;
    }

    .arr-button {
        display: none;
    }

}
