@font-face {
    src: url("/static/fonts/Eina03-Regular.ttf");
    font-family: eina03-regular;
}

@font-face {
    src: url("/static/fonts/Eina03-Bold.ttf");
    font-family: eina03-bold;
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: eina03-regular, sans-serif;
    --title-family: eina03-bold, sans-serif;
    --soft-green: #9edb5a;
    --bg-color: #008743;
    --text-gray: #a5a5a5;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-family);
}

body {
    width: 100vw;
    background: white;
    position: relative;
    overflow-x: hidden;
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    padding: 15px;
    height: 100%;
}