{% load static %}

<footer class="main-footer">
    <div class="container" style="height: 100%; position: relative">
        <div class="info-wrapper">
            <a class="info-row" href="https://goo.gl/maps/bQzgFhDPJwV2Vb9M8" target="_blank">
                <img src="{% static 'assets/icons/geo.svg' %}" alt="geomark">
                <p>Rencēnu iela 7B</p>
            </a>
            <a class="info-row" href="mailto:info@neologistics.lv">
                <img src="{% static 'assets/icons/mail.svg' %}" alt="mail">
                <p>info@neologistics.lv</p>
            </a>
            <a class="info-row" href="tel:+37129199863">
                <img src="{% static 'assets/icons/phone.svg' %}" alt="phone">
                <p>+371 29199863</p>
            </a>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div class="container" style="height: 100%">
        <div class="copyright__wrapper">
            <p>© Sia Neo Logistics 2022</p>
            <p>Made with love by Barbiewir3</p>
        </div>
    </div>
</footer>