{% load static %}
{% load i18n %}
{% get_current_language as lang %}


<header class="header-blank" id="navbar">
    <div class="navbar-container">
        <a href="/"><img src="{% static 'assets/logo.svg' %}" alt="logo" class="main-logo"></a>
        <input type="checkbox" id="menu_checkbox">
        <label for="menu_checkbox">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <nav>
            {% with url_name=request.resolver_match.url_name %}
                <a href="/" class="nav-link link-text-common {% if url_name == 'main' %} highlight {% endif %}">
                    {% trans 'Home' %}
                </a>

                <span class="option-selector " role="button" tabindex="0" data-drop="true">
                    <span class="link-text-common">
                        {% trans 'Services' %}
                        <img src="{% static 'assets/chevron_down_black.svg' %}" alt="chevron"
                             class="chevron-filter chevron-transform">
                    </span>

                    <div class="nav-dropdown">
                        <a href="/vacancies">
                            {% trans 'Vacancies' %}
                        </a>
                    </div>
                </span>

                <a href="/about" class="nav-link link-text-common {% if url_name == 'about' %} highlight {% endif %}">
                    {% trans 'About us' %}
                </a>
                <a href="/contact"
                   class="nav-link link-text-common{% if url_name == 'contact' %} highlight {% endif %}">
                    {% trans 'Contact us' %}
                </a>
            {% endwith %}

            <span class="option-selector lang-selector" data-drop="true">
                <span>
                    {% if lang == 'ru' %}
                        <img src="{% static 'assets/russiaflag.svg' %}" alt="flag">
                    {% else %}
                        <img src="{% static 'assets/USAflag.svg' %}" alt="usa flag">
                    {% endif %}
                    <img src="{% static 'assets/chevron_down_black.svg' %}" alt="down"
                         class="chevron-filter chevron-transform">
                </span>

                <div class="nav-dropdown">
                    <a href="/en" data-lang="en" class="language-option">
                        <p>English</p>
                        <img src="{% static 'assets/USAflag.svg' %}" alt="flag">
                    </a>

                    <a href="/ru" data-lang="ru" class="language-option">
                        <p>Русский</p>
                        <img src="{% static 'assets/russiaflag.svg' %}" alt="flag">
                    </a>
                </div>
            </span>
        </nav>
    </div>
</header>