{% load static %}
{% load i18n %}
{% get_current_language as lang %}


<header class="header-blank" id="navbar">
    <div class="navbar-container">
        <a href="/"><img src="{% static 'assets/logo.svg' %}" alt="logo" class="main-logo"></a>
        <input type="checkbox" id="menu_checkbox">
        <label for="menu_checkbox">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <nav>
            {% with url_name=request.resolver_match.url_name %}
                <a href="/" class="nav-link link-text-common {% if url_name == 'main' %} highlight {% endif %}">
                    {% trans 'Home' %}
                </a>

                <span class="option-selector " role="button" tabindex="0" data-drop="true">
                    <span class="link-text-common">
                        {% trans 'Services' %}
                        <img src="{% static 'assets/chevron_down_black.svg' %}" alt="chevron"
                             class="chevron-filter chevron-transform">
                    </span>

                    <div class="nav-dropdown">
                        <a href="/vacancies">
                            {% trans 'Vacancies' %}
                        </a>
                    </div>
                </span>

                <a href="/about" class="nav-link link-text-common {% if url_name == 'about' %} highlight {% endif %}">
                    {% trans 'About us' %}
                </a>
                <a href="/contact"
                   class="nav-link link-text-common{% if url_name == 'contact' %} highlight {% endif %}">
                    {% trans 'Contact us' %}
                </a>
            {% endwith %}

            <span class="option-selector lang-selector" data-drop="true">
                <span>
                    {% if lang == 'ru' %}
                        <img src="{% static 'assets/ruflag.svg' %}" alt="flag">
                    {% else %}
                        <img src="{% static 'assets/enflag.svg' %}" alt="usa flag">
                    {% endif %}
                    <img src="{% static 'assets/chevron_down_black.svg' %}" alt="down"
                         class="chevron-filter chevron-transform">
                </span>

                <div class="nav-dropdown">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}

                        {% get_current_language as current_language %}
                        {% get_available_languages as languages %}

                        {% for lang_code, lang_name in languages %}
                            <button class="language-option" type="submit" value="{{ lang_code }}" name="language">
                                {% with string1="assets/" string2=lang_code string3="flag.svg" %}
                                    {% with filename=string1|add:string2|add:string3 %}
                                        <img src="{% static filename %}" alt="flag">
                                    {% endwith %}
                                {% endwith %}

                                <span>{{ lang_name }}</span>
                            </button>
                        {% endfor %}

                    </form>
                </div>
            </span>
        </nav>
    </div>
</header>