{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Sio Neo Logistics</title>
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    {% block links %}
        {# additional links here #}
    {% endblock %}
</head>
<body>
{#  Header  #}
{% include 'main/components/header.html' %}

{% block content %}
    {#  Content here  #}
{% endblock %}

{#  Footer  #}
{% include 'main/components/footer.html' %}


{% block scripts %}
    {# scripts here #}
{% endblock %}

</body>
</html>