{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/contactus.css' %}">
{% endblock %}


{% block content %}
    <section class="main-section">
        <div class="container">
            <div class="box-wrapper">
                <div class="text-box">
                    <hr class="line">
                    <h1 class="title">{% trans 'Contact us' %}</h1>
                    <p class="desc">{% trans 'Have a question? Feel free to contact us. Our team will try to respond you back as soon as possible' %}</p>
                    <h4>
                        {% trans 'Or you can use your phone to get in touch with us:' %}
                    </h4>
                    <p class="desc">+371 29199863</p>
                </div>

                <div class="input-box">
                    <form action="{% url 'contact' %}" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <input type="text" required autocomplete="off" id="name" tabindex="1"
                                   class="input_field">
                            <label for="name" title="{% trans 'Name' %}" data-title="{% trans 'Name' %}"></label>
                        </div>


                        <div class="field">
                            <input type="text" required autocomplete="off" id="email" tabindex="1"
                                   class="input_field">
                            <label for="email" title="{% trans 'Email' %}" data-title="{% trans 'Email' %}"></label>
                        </div>


                        <div class="field">
                            <textarea tabindex="3" name="message" required id="message" class="input_field"></textarea>
                            <label for="message" title="{% trans 'Message' %}"
                                   data-title="{% trans 'Message' %}"></label>
                        </div>
                        <button type="submit" tabindex="4">{% trans 'Submit' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/nav.js' %}"></script>
{% endblock %}
