{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/contactus.css' %}">
    <link rel="stylesheet" href="{% static 'css/vacancies.css' %}">
{% endblock %}


{% block content %}
    <section class="main-section">
        <div class="container container--track-wrapper">
            <div class="text-box">
                <hr class="line">
                <h1 class="title">{% trans 'Vacancies' %}</h1>
                <p class="desc">
                    {% trans "A list of available job opportunities company provides at the moment" %}
                </p>
            </div>
            <div class="strip__wrapper">
                <div class="track" id="track">
                    {% for vacancy in vacancies %}
                        <div class="flex-option">
                            <div class="upper-tab"></div>
                            <div class="lower-tab">
                                <h3 class="vacancies-name">{{ vacancy.name }}</h3>
                                <div class="play">
                                    <img src="{% static 'assets/plus.svg' %}" alt="play-btn" class="svg-play">
                                </div>
                                <p class="par">Try yourself at {{ vacancy.name }}’s position in our company</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/nav.js' %}" defer></script>

    <script src="{% static 'js/dragTrack.js' %}" defer></script>
{% endblock %}